
.jumbotron img{
	width: 200px;
	border: 5px solid  #999;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 400px;
}

.portfolio{
	background-color: #eee;
}

.contact{
	min-height: 700px;
}
